.preloaderz{
    background-color: black;
    opacity:0.8;
    width:100vw;
    height:100vh;

    position:fixed;
    top:0;
    left:0;
    z-index:99999;

    justify-content: center;
    align-items: center;
    display:flex;
}

.loaderz {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 0.5s linear infinite;
  }
  
  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #ffc107, 24px 0 #FFF;
    }
    66% {
      background: #ffc107;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #ffc107;
    }
  }